table.smallboard {
    font-family: arial, verdana, sans-serif, Lucida Sans;
    /*margin:5px;*/
    background-color: #f3e2ca;
}

table.smallboard a {
    font-size: 11px;
    border: none;
}

table.smallboard a:hover {
    text-decoration: none !important;
    border: none !important;
}

table.smallboard tr {
    padding: 0;
    margin: 0;
}

table.smallboard td {
    border-top: none !important;
}

table.smallboard td.char {
    text-align: center;
    font-weight: bold;
    padding: 3px !important;
    font-size: 12px;
}

table.smallboard td.num {
    font-size: 12px;
    font-weight: bold;
    padding: 3px !important;
}

table.smallboard td.f {
    width: 25px;
    height: 25px;
    text-align: center;
    padding: 0 !important;
    margin: 0;
    position: relative;
}

table.smallboard .cellHL {
    position: absolute;
    border: 1px solid #E26124;
    width: 23px;
    height: 23px;
    top: 0;
    left: 0;
}

table.smallboard td.f img,
table.smallboard td.f span {
    width: 100%;
    height: 100%;
}

.cellLight {
    background-color: #f4eee4;
}

.cellDark {
    background-color: #ecc691;
}

.smallboard_bigger .smallboard td.f {
    width: 35px;
    height: 35px;
}

.smallboard.size_medium td.f {
    width: 35px;
    height: 35px;
}

.smallboard.size_medium td.num {
    padding: 3px 6px;
    font-size: 13px;
}

.smallboard.size_medium td.char {
    font-size: 13px;
    padding: 3px;
}

.smallboard.size_big td.f {
    width: 45px;
    height: 45px;
}

.smallboard.size_big td.num {
    padding: 3px 8px;
    font-size: 14px;
}

.smallboard.size_big td.char {
    font-size: 14px;
    padding: 4px;
}