html {
    height: 100%;
    padding: 0px;
}

body {
    margin: 5px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 10px;
    color: #333;
    background-color: #fff
}

.mainPage {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content auto auto;
    gap: 3px 3px;
    grid-auto-flow: row;
    grid-template-areas: "header" "instructionAccumulator " "keybordGrid";
}

.header {
    display: grid;
    grid-area: header;
    grid-template-columns: min-content 400px auto 500px;
    grid-template-rows: 1fr;
    gap: 15px;
    grid-auto-flow: row;
    grid-template-areas: " logo guide . header-inner";
}

.logo * {
    grid-area: logo;
    width: 70px;
    margin-left: auto;
    margin-right: auto;
}

.top-head,
.top-head a {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 12px;
    color: #A65400;
    text-decoration: none;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .25)
}

.header-inner {
    grid-area: header-inner;
    display: inline;
    overflow: hidden;
    background-color: #fff;
    background-image: url(../i/top-bg-1.png);
    border-bottom: 2px solid #FFC080;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .25), inset 0 -1px 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .25), inset 0 -1px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .25), inset 0 -1px 0 rgba(0, 0, 0, .1)
}

input,
textarea,
select,
.uneditable-input {
    display: inline-block;
    font-size: 13px;
    line-height: 18px;
    color: #555;
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px
}

label {
    display: inline;
    color: #333
}

.guide {
    box-sizing: border-box;
}

.instructionAccumulator {
    grid-area: instructionAccumulator;
    display: grid;
    grid-template-columns: min-content auto;
    grid-template-rows: min-content;
    gap: 0px 5px;
    grid-auto-flow: row;
    grid-template-areas: "scheme comandIcons ";
}

.scheme {
    grid-area: scheme;
    /* height: min-content; */
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 0.19511554621848737) 0%, rgba(148, 187, 233, 0.19511554621848737) 100%);
}

.schemeSwitchCell {
    width: 30px;
}

.schemeTitleCell {
    width: 100px;
    text-align: right;
}

.Simple-title {
    text-align: right;
}

.comandIcons {
    grid-area: comandIcons;
    border: 5px double rgba(136, 93, 241, 0.3);
    border-radius: 9px;
}

.icons {
    padding: 0%;
    margin: 0%;
    width: 15px;
    height: 15px;
    cursor: grab;
    position: absolute;
    z-index: 1000;
}

.keybordGrid {
    display: grid;
    grid-area: keybordGrid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 1px 6px;
    grid-auto-flow: row;
    grid-template-areas: ". . . . . . . . . . . . . . . . ." ". . . . . . . . . . . . . . . . ." ". . . . . . . . . . . . . . . . ." ". . . . . . . . . . . . . . . . ." ". . . . . . . . . . . . . . . . ." ". . . . . . . . . . . . . . . . ." ". . . . . . . . . . . . . . . . .";
}

.subtable {
    padding: 0%;
    margin: 0%;
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 0.19511554621848737) 0%, rgba(148, 187, 233, 0.19511554621848737) 100%);
    font-size: 12px;
    display: grid;
    /* border: 2px solid rgba(136, 93, 241, 0.5); */
    border-top: 1px solid #5072ff;
    border-right: 1px solid #5072ff;
    border-bottom: 1px solid #5072ff;
    border-radius: 5px;
    grid-template-columns: 30px 30px auto;
    grid-template-rows: repeat(8, 18px);
    /* gap: 2px 2px; */
    grid-auto-flow: row;
    grid-template-areas: "Symbol Simple Simple-title" "Alt Alt-title Alt-title" "Ctrl Ctrl-title Ctrl-title" "Shift Shift-title Shift-title" "CtrlAlt CtrlAlt-title CtrlAlt-title" "CtrlShift CtrlShift-title CtrlShift-title" "AltShift AltShift-title AltShift-title" "CtrlAltShift CtrlAltShift-title CtrlAltShift-title";
    width: 100%;
    height: 100%;
}

.subtable div {
    border-top: 1px solid #5073ff2c;
    border-right: 1px solid #5073ff2c;
    border-bottom: 1px solid #5073ff2c;
}

.abbr {
    font-size: 9px;
    text-align: center;
}

.charmod {
    text-align: center;
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 0.6124824929971988) 0%, rgba(253, 29, 29, 0.5368522408963585) 50%, rgba(252, 176, 69, 0.5256477591036415) 100%);
}

.Symbol {
    grid-area: Symbol;
    text-align: center;
    background-color: bisque;
    border-radius: 5px 5px 5px 0px;
    -webkit-border-radius: 6px 4px 4px 0px;
    -moz-border-radius: 6px 4px 4px 0px;
    border-left: 1px solid #5072ff;
}

.Alt {
    border-left: 2px solid rgb(59, 153, 51);
    grid-area: Alt;
}

.Ctrl {
    grid-area: Ctrl;
    border-left: 2px solid rgb(250, 0, 0);
}

.Shift {
    border-left: 2px solid rgb(25, 0, 255);
    grid-area: Shift;
}

.CtrlAlt {
    border-left: 2px solid rgb(255, 153, 0);
    grid-area: CtrlAlt;
}

.CtrlShift {
    border-left: 2px solid rgb(255, 0, 242);
    grid-area: CtrlShift;
}

.AltShift {
    border-left: 2px solid rgb(255, 102, 0);
    grid-area: AltShift;
}

.CtrlAltShift {
    border-left: 2px solid rgb(0, 0, 0);
    grid-area: CtrlAltShift;
}

.Simple {
    grid-area: Simple;
}

.Alt-title {
    grid-area: Alt-title;
}

.Ctrl-title {
    grid-area: Ctrl-title;
}

.Shift-title {
    grid-area: Shift-title;
}

.CtrlAlt-title {
    grid-area: CtrlAlt-title;
}

.CtrlShift-title {
    grid-area: CtrlShift-title;
}

.AltShift-title {
    grid-area: AltShift-title;
}

.CtrlAltShift-title {
    grid-area: CtrlAltShift-title;
}

.Simple-title {
    grid-area: Simple-title;
}

.flipswitch {
    position: relative;
    width: 28px;
}

.flipswitch input[type=checkbox] {
    display: none;
}

.flipswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid #999999;
    border-radius: 4px;
}

.flipswitch-inner {
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

.flipswitch-inner:before,
.flipswitch-inner:after {
    float: left;
    width: 50%;
    height: 9px;
    padding: 0;
    line-height: 9px;
    font-size: 8px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}

.flipswitch-inner:before {
    content: "ON";
    padding-left: 5px;
    background-color: #1ED424;
    color: #FFFFFF;
}

.flipswitch-inner:after {
    content: "OFF";
    padding-right: 5px;
    background-color: #EBEBEB;
    color: #888888;
    text-align: right;
}

.flipswitch-switch {
    width: 5px;
    margin: 2px;
    background: #FFFFFF;
    border: 1px solid #999999;
    border-radius: 4px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 19px;
    transition: all 0.3s ease-in 0s;
}

.flipswitch-cb:checked+.flipswitch-label .flipswitch-inner {
    margin-left: 0;
}

.flipswitch-cb:checked+.flipswitch-label .flipswitch-switch {
    right: 0;
}