{% load static %}
{% load keymap_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div id="instructionAccumulator" class="instructionAccumulator">
  {% include "kmap/subtable_sheme.html" with par0="subtableSheme" par1="Cell" par2="schemeSwitchCell" %}

  <div class="actionIcons droppable">
    {% if prog_selected == 0 %}
      <div class="">
        <img class="icons" id="ball" src="{% static 'kmap/i/ball.svg' %}">
      </div>
    {% endif %}

    {% for action in acts_wo_combs %}
      <div class="action_repr">
        <div class="descr">
          {% if action.icon %}
            <img class='icons' src="{{ action.icon.url }}"/>
          {% endif %}
          {{ action.short_name }}
        </div>
      </div>
    {% endfor %}
  </div>
</div>


<!--        <div id="keybordGrid" class="keybordGrid"></div>-->
<div id="keyboardGrid" class="keyboardGrid">

  {% for key, modifiers in k_buttons.items %}
    {% if modifiers.front_name != '' %}
      <div class="key_{{ key }} char">
        <div class="key brdr"> {{ modifiers.front_name }}</div>
        <div class="a_mod brdr abbr">a</div>
        <div class="c_mod brdr abbr">c</div>
        <div class="s_mod brdr abbr">s</div>
        <div class="ac_mod brdr abbr">ca</div>
        <div class="as_mod brdr abbr">as</div>
        <div class="cs_mod brdr abbr">cs</div>
        <div class="acs_mod brdr abbr">cas</div>

        <div class="Simple-push brdr droppable">{{ modifiers.push }}</div>
        <div class="a brdr droppable">{{ modifiers.a }}</div>
        <div class="c brdr droppable">{{ modifiers.c }}</div>
        <div class="s brdr droppable">{{ modifiers.s }}</div>
        <div class="ac brdr droppable">{{ modifiers.ac }}</div>
        <div class="as brdr droppable">{{ modifiers.as }}</div>
        <div class="cs brdr droppable">{{ modifiers.cs }}</div>
        <div class="acs brdr droppable">{{ modifiers.acs }}</div>

      </div>
    {% else %}
      <div class="key_{{ key }} char"></div>
    {% endif %}
  {% endfor %}
</div>
</body>
<link href="{% static 'kmap/css/dragula.min.css' %}" rel="stylesheet"/>
<script src="{% static 'kmap/js/dragula.js' %}"></script>
<script src="{% static 'kmap/js/main.js' %}"></script>
</html>