{% extends 'kmap/base.html' %}
{% load static %}
{% load keymap_tags %}

{% block content %}

  <!--region Блок UserGuide при невыбранной программе-->
  {% if prog_selected == 0 %}
    <div class="userGuide">
      <!--region Левая колонка -->
      <div class="userGuide__Item">
        <h2 style="text-align: center"> Про что этот сайт?</h2>

        <p>
          Сервис предназначен для составления расположений команд приложения на клавиатуре с последующей установкой
          в выбранную программу. Также можно применять редактор, как способ визуализации существующих штатных
          комбинаций в выбранной программе.
        </p>

        <h3 style="text-align: center">Как обычно выглядит настройка keybindings map?</h3>

        <img src="https://user-images.githubusercontent.com/83884504/178107126-2b3efba1-7838-4998-9c79-ecc5332d4f55.png"
             style="width:100% ">

        <p>Умножаем скриншот еще на 10, и получается огромных размеров список в котором очень просто утонуть, и очень
           сложно разобраться.
           Как следствие, отсутствие системности/удобства/логичности назначенных комбинаций.
        </p>
      </div>
      <!--endregion -->

      <!--region Правая колонка-->
      <div class="userGuide__Item">
        <h2 style="text-align: center"> Предлагаемая модель взаимодействия:</h2>
        <ul>
          <li>Выбираем программу</li>
          <li>Загружаешь свой keymap-файл для программы.</li>
          <li>keymap-файл анализируется и команды программы распределяются по сетке клавиатуры в соответствии
              с назначенными на них комбинациями.
          </li>
          <img src="https://user-images.githubusercontent.com/83884504/178106341-3d7b71cf-f338-422d-a358-b421f37097ab.png"
               style="max-width:100%; max-height:130px">

          <li>Команды без комбинаций накапливаются в пуле команд.</li>

          <li>Перетаскивайте мышкой (drag&drop) команды/значки команд, находящиеся на сетке клавиатуры в
              удобное/логичное положение.
          </li>

          <li>После настройки генерируется keymap-файл с нужными/удобными комбинациями.</li>

          <li>Чтобы запоминание не было долгим и мучительным, распечатываем keymap и определяем его на видное место
              рядом с монитором.
          </li>
        </ul>
      </div>
      <!--endregion -->
    </div>
  {% endif %}
  <!--endregion -->

  {% if error_message %}
    <h1>{{ error_message }}</h1>
  {% endif %}

  <!--region Блок со многоколоночным списком действий, на которые не назначены комбинации-->
  <div class="actionList droppable">

    <!--region Если программа не выбрана, показываем футбольный мячик-->
    {% if prog_selected == 0 %}
      <div class=""><img class="actionList_actionIcon" id="ball" src="{% static 'kmap/i/ball.svg' %}"></div>
    {% endif %}
    <!--endregion -->

    <!--region Если программа выбрана, показываем действия, на которые не назначены комбинации-->
    {% for action in acts_wo_combs %}
      <div class="actionList__item" title="{{ action.descr }}">
        <div class="actionList__repr">
          {% if action.icon %}
            <img class='actionList_actionIcon' src="{{ action.icon.url }}"/>
          {% endif %}
          {{ action.short_name }}
        </div>
      </div>
    {% endfor %}
    <!--endregion -->

  </div>
  <!--endregion-->

  <!--region Клавиатурная сетка, где каждая клавиша разделена на поля с модификаторами-->
  <div id="keyboardGrid" class="keyboard">
    {% for button_backname, mod_keys in k_buttons.items %}
      {% if mod_keys.front_name != '' %}
        <div class="keyboard__button">
          <div class="keyboard__buttonName "> {{ mod_keys.front_name }}</div>
          <div class="keyboard__a_mod  keyboard__modLabel">a</div>
          <div class="keyboard__c_mod  keyboard__modLabel">c</div>
          <div class="keyboard__s_mod  keyboard__modLabel">s</div>
          <div class="keyboard__ac_mod  keyboard__modLabel">ca</div>
          <div class="keyboard__as_mod  keyboard__modLabel">as</div>
          <div class="keyboard__cs_mod  keyboard__modLabel">cs</div>
          <div class="keyboard__acs_mod  keyboard__modLabel">cas</div>

          <div class="keyboard__push  droppable" data-button="{{ button_backname }}"
               data-modkeys="push">{{ mod_keys.push }}</div>

          <div class="keyboard__a  droppable" data-button="{{ button_backname }}"
               data-modkeys="a"> {{ mod_keys.a }}</div>

          <div class="keyboard__c  droppable" data-button="{{ button_backname }}"
               data-modkeys="c"> {{ mod_keys.c }}</div>

          <div class="keyboard__s  droppable" data-button="{{ button_backname }}"
               data-modkeys="s">{{ mod_keys.s }}</div>

          <div class="keyboard__ac  droppable" data-button="{{ button_backname }}"
               data-modkeys="ac">{{ mod_keys.ac }}</div>

          <div class="keyboard__as  droppable" data-button="{{ button_backname }}"
               data-modkeys="as">{{ mod_keys.as }}</div>

          <div class="keyboard__cs  droppable" data-button="{{ button_backname }}"
               data-modkeys="cs">{{ mod_keys.cs }}</div>

          <div class="keyboard__acs  droppable" data-button="{{ button_backname }}"
               data-modkeys="acs">{{ mod_keys.acs }}</div>
        </div>
      {% else %}
        <div class="keyboard__button"></div>
      {% endif %}
    {% endfor %}
  </div>
  <!--endregion-->

  {% if prog_selected %}
    <button type="button" class="button_download_keymap" id="button_download_keymap" value="">Скачать keymap</button>
  {% endif %}
  <script>
      var csrftoken = '{{ csrf_token }}';
      const url = '{% url "keymap_saver" prog_selected %}'
  </script>
{% endblock content %}

