{% extends 'kmap/base.html' %}
{% load static %}
{% load keymap_tags %}

{% block content %}

  {% if prog_selected == 0 %}
    <div class="guide">
      <div>
        <h2 style="text-align: center"> Про что этот сайт?</h2>

        <p>
          Сервис предназначен для составления расположений команд приложения на клавиатуре с последующей установкой
          в выбранную программу. Также можно применять редактор, как способ визуализации существующих штатных
          комбинаций в выбранной программе.
        </p>

        <h3 style="text-align: center">Как обычно выглядит настройка keybindings map?</h3>

        <img src="https://user-images.githubusercontent.com/83884504/178107126-2b3efba1-7838-4998-9c79-ecc5332d4f55.png"
             style="width:100% ">

        <p>Умножаем скриншот еще на 10, и получается огромных размеров список в котором очень просто утонуть, и очень
          сложно разобраться.
          Как следствие, отсутствие системности/удобства/логичности назначенных комбинаций.
        </p>
      </div>
      <div>
        <h2 style="text-align: center"> Предлагаемая модель взаимодействия:</h2>
        <ul>
          <li>Выбираем программу</li>
          <li>Загружаешь свой keymap-файл для программы.</li>
          <li>keymap-файл анализируется и команды программы распределяются по сетке клавиатуры в соответствии
            с назначенными на них комбинациями.
          </li>
          <img src="https://user-images.githubusercontent.com/83884504/178106341-3d7b71cf-f338-422d-a358-b421f37097ab.png"
               style="max-width:100%; max-height:130px">

          <li>Команды без комбинаций накапливаются в пуле команд.</li>

          <li>Перетаскивайте мышкой (drag&drop) команды/значки команд, находящиеся на сетке клавиатуры в
            удобное/логичное положение.
          </li>

          <li>После настройки генерируется keymap-файл с нужными/удобными комбинациями.</li>

          <li>Чтобы запоминание не было долгим и мучительным, распечатываем keymap и определяем его на видное место
            рядом с монитором.
          </li>
        </ul>
      </div>
    </div>
  {% endif %}

  {% if error_message %}
    <h1>{{ error_message }}</h1>
  {% endif %}

  <!--region Пул команд, на которые не назначены комбинации-->
  <div class="actionIcons droppable">
    {% if prog_selected == 0 %}
      <div class="">
        <img class="icons" id="ball" src="{% static 'kmap/i/ball.svg' %}">
      </div>
    {% endif %}

    {% for action in acts_wo_combs %}
      <div class="action_repr">
        <div class="descr">
          {% if action.icon %}
            <img class='icons' src="{{ action.icon.url }}"/>
          {% endif %}
          {{ action.short_name }}
        </div>
      </div>
    {% endfor %}
  </div>
  <!--endregion-->

  <!--region Клавиатурная сетка, где каждая клавиша разделена на поля с модификаторами-->
  <div id="keyboardGrid" class="keyboardGrid">
    {% for button_backname, mod_keys in k_buttons.items %}
      {% if mod_keys.front_name != '' %}
        <div class="key_{{ button_backname }} char">
          <div class="key brdr"> {{ mod_keys.front_name }}</div>
          <div class="a_mod brdr abbr">a</div>
          <div class="c_mod brdr abbr">c</div>
          <div class="s_mod brdr abbr">s</div>
          <div class="ac_mod brdr abbr">ca</div>
          <div class="as_mod brdr abbr">as</div>
          <div class="cs_mod brdr abbr">cs</div>
          <div class="acs_mod brdr abbr">cas</div>
          <!--При изменении положения класса brdr, менять в JS-методе changeActionDescrBlockWidth -->
          <div class="key_{{ button_backname }} push brdr droppable">{{ mod_keys.push }}</div>
          <div class="key_{{ button_backname }} a brdr droppable">{{ mod_keys.a }}</div>
          <div class="key_{{ button_backname }} c brdr droppable">{{ mod_keys.c }}</div>
          <div class="key_{{ button_backname }} s brdr droppable">{{ mod_keys.s }}</div>
          <div class="key_{{ button_backname }} ac brdr droppable">{{ mod_keys.ac }}</div>
          <div class="key_{{ button_backname }} as brdr droppable">{{ mod_keys.as }}</div>
          <div class="key_{{ button_backname }} cs brdr droppable">{{ mod_keys.cs }}</div>
          <div class="key_{{ button_backname }} acs brdr droppable">{{ mod_keys.acs }}</div>
        </div>
      {% else %}
        <div class="key_{{ button_backname }} char"></div>
      {% endif %}
    {% endfor %}
  </div>
  <!--endregion-->

  <style>
      .button_save_keymap {
          display: inline-block !important;
          text-decoration: none !important;
          background-color: #eaeaea !important;
          color: #006089 !important;
          border: 3px solid #006089 !important;
          border-radius: 5px !important;
          font-size: 12px !important;
          padding: 15px 50px !important;
          transition: all 0.8s ease !important;
          user-select: none !important;
      }

      .button_save_keymap:hover {
          text-decoration: none !important;
          background-color: #006089 !important;
          color: #ffeded !important;
          border-color: #006089 !important;
          user-select: none !important;
      }
  </style>
  <input type="button" class="button_save_keymap" id="button_save_keymap" value="Сохранить keymap">

  </input>

{% endblock content %}

