{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <META name="description" CONTENT="Удобный анализ клавиатурных комбинаций и редактор клавиатурных комбинаций.">

    <link rel="stylesheet" href="{% static 'shortcutEditor/css/top.css' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'shortcutEditor/i/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'shortcutEditor/i/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'shortcutEditor/i/favicon/favicon-16x16.png' %}">
    <!-- <link rel="manifest" href="./i/favicon/site.webmanifest">-->
    <link rel="mask-icon" href="{% static 'shortcutEditor/i/favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
    <link rel="shortcut icon" href="{% static 'shortcutEditor/i/favicon/favicon.ico' %}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="{% static 'shortcutEditor/i/favicon/browserconfig.xml' %}">
    <meta name="theme-color" content="#ffffff">
</head>

<body>
    {% block mainmenu %}
    <ul>
        {% for m in menu %}
            {% if not forloop.last %}
                <li> <a href="{% url m.url_name %}">{{m.title}}</a></li>
            {% else %}
                <li class="last"><a href="{% url m.url_name %}">{{m.title}}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
    {% endblock mainmenu %}

    {% block content %}
    {% endblock %}

 <div class="mainPage">
        <header class="header">

            <div class="logo">
                <div class="top-head">
                    <a href="{% url 'main'%}">онлайн редактор комбинаций </a>
                </div>
                <a href="{% url 'main'%}">
                    <img id="logo" class="logo" src="{% static 'shortcutEditor/i/logo.png' %}" title="Редактор комбинаций" alt="Онлайн-редактор комбинаций" />
                </a>
            </div>
            <div class="guide">
                <!-- <h1>Редактор комбинаций</h1> -->
                <p class="redLine">
                    Редактор клавиатурных комбинаций предназначен для составления расположений команд приложения на клавиатуре с последующей установкой в выбранную программу. Также можно применять редактор, как способ визуализации сущестующих штатных комбинаций в выбранной
                    программе.
                </p>

                <p class="redLine">
                    Пользоваться редактором очень просто. Просто перетаскивайте мышкой (drag&drop) команды/значки команд, находящиеся на сетке клавиатуры в удобное/логичное положение.
                </p>
            </div>

            <div class="header-inner">

                <div class="signin-form">

                    <form class="form-inline" action="https://chess-samara.ru/" method="post">
                        <input type="hidden" name="function" value="enter">
                        <input id="auth_login" type="text" name="login" class="input-small" placeholder="Логин" />
                        <input type="password" name="pswd" class="input-small" placeholder="Пароль" />
                        <label class="checkbox"> <input name="remember" type="checkbox" />Запомнить</label>
                        <button type="submit" class="btn">Войти</button>
                    </form>

                    <!-- <div class="main-page-social-buttons">
                        <div class="tooltip-under social-likes__widget social-likes__widget_facebook " data-url="https://chess-samara.ru/social_login.html?action=login&provider=facebook" title="Войти через Facebook">
                            <span class="social-likes__button social-likes__button_facebook">
                                <span class="social-likes__icon social-likes__icon_facebook"></span>
                            </span>
                        </div>
                        <div class="tooltip-under social-likes__widget social-likes__widget_vkontakte " data-url="https://chess-samara.ru/social_login.html?action=login&provider=vkontakte" title="Войти через ВКонтакте">
                            <span class="social-likes__button social-likes__button_vkontakte">
                                <span class="social-likes__icon social-likes__icon_vkontakte"></span>
                            </span>
                        </div>
                        <div class="tooltip-under social-likes__widget social-likes__widget_odnoklassniki " data-url="https://chess-samara.ru/social_login.html?action=login&provider=odnoklassniki" title="Войти через Одноклассники">
                            <span class="social-likes__button social-likes__button_odnoklassniki">
                                <span class="social-likes__icon social-likes__icon_odnoklassniki"></span>
                            </span>
                        </div>
                    </div> -->

                </div>

                <div class="hmargin signin-ad-links-simple">
                    <a href="https://chess-samara.ru/user/forgot_pswd.html">Забыли пароль?</a> |
                    <a href="https://chess-samara.ru/user/reg.html">Зарегистрироваться</a>
                </div>
            </div>

        </header>

        <div class="instructionAccumulator">
            <div class="scheme">
                <div class="subtable scheme">
                    <div class="Cell Symbol abbr">key</div>
                    <div class="Cell Alt abbr">icon</div>
                    <div class="Cell Ctrl "></div>
                    <div class="Cell Shift "></div>
                    <div class="Cell CtrlAlt schemeSwitchCell"></div>
                    <div class="Cell CtrlShift schemeSwitchCell"></div>
                    <div class="Cell AltShift schemeSwitchCell"></div>
                    <div class="Cell CtrlAltShift schemeSwitchCell">

                    </div>
                    <div class="Cell Simple schemeSwitchCell"></div>
                    <div class="Cell Alt-title schemeTitleCell"> +Alt</div>
                    <div class="Cell Ctrl-title schemeTitleCell">+Ctrl</div>
                    <div class="Cell Shift-title schemeTitleCell">+Shift</div>
                    <div class="Cell CtrlAlt-title schemeTitleCell">+Ctrl+Alt</div>
                    <div class="Cell CtrlShift-title schemeTitleCell">+Ctrl+Shift</div>
                    <div class="Cell AltShift-title schemeTitleCell">+Alt+Shift</div>
                    <div class="Cell CtrlAltShift-title schemeTitleCell">+Ctrl+Alt+Shift</div>
                    <div class="Cell Simple-title ">modifers</div>
                </div>';
            </div>

            <div class="commandIcons droppable">
                <img class="icons" id="ball" src="{% static 'shortcutEditor/i/ball.svg' %}" id="ball">
            </div>
        </div>


        <div id="keybordGrid" class="keybordGrid"></div>
    </div>

    <script src="{% static 'shortcutEditor/js/grid.js' %}"></script>

</body>

</html>