{% extends 'keymap/base.html' %}
{% load static %}
{% load keymap_tags %}

{% block content %}

{% if prog_selected == 0 %}
<div class="guide">
    <div><p>
        Сайт предназначен для составления расположений команд приложения на клавиатуре с последующей установкой
        в выбранную программу. Также можно применять редактор, как способ визуализации существующих штатных
        комбинаций в выбранной программе.
    </p>

        <p>
            Пользоваться редактором очень просто. Просто перетаскивайте мышкой (drag&drop) команды/значки команд,
            находящиеся на сетке клавиатуры в удобное/логичное положение.
        </p>
        <h2>Как обычно выглядит настройка keybindings map</h2>

        <img src="https://user-images.githubusercontent.com/83884504/178107126-2b3efba1-7838-4998-9c79-ecc5332d4f55.png"
             style="width:100% ">

        <p>Умножаем скриншот еще на 10, и получается огромных размеров список в котором очень просто утонуть, и очень
            сложно разобраться.
            Как следствие, отсутствие системности/удобства/логичности назначенных комбинаций. </p></div>
    <div><h2>Предлагаемая модель взаимодействия:</h2>
        <ul>
            <li>Выбираем программу</li>
            <li>Загружаешь свой keymap-файл для программы.</li>
            <li>keymap-файл анализируется и команды программы распределяются по сетке клавиатуры в соответствии
                с назначенными на них комбинациями.
            </li>
            <img src="https://user-images.githubusercontent.com/83884504/178106341-3d7b71cf-f338-422d-a358-b421f37097ab.png"
                 style="max-width:100%; max-height:130px">

            <li>Команды без комбинаций накапливаются в пуле команд.</li>


            <li>Перетаскивайте мышкой (drag&drop) команды/значки команд, находящиеся на сетке клавиатуры в
                удобное/логичное положение.
            </li>

            <li>После настройки генерируется keymap-файл с нужными/удобными комбинациями.</li>

            <li>Чтобы запоминание не было долгим и мучительным, распечатываем keymap и определяем его на видное место
                рядом с монитором.
            </li>
        </ul>
    </div>
</div>
{% endif %}

<!--    <p style=" text-align:center;">пул команд</p>-->
    <div class="commandIcons droppable">
        {% if prog_selected == 0 %}
        <div class="">
            <img class="icons" id="ball" src="{% static 'keymap/i/ball.svg' %}">
        </div>
        {% endif %}

        {% for command in commands_without_modifiers %}
        <div class="command_description">
            <div class="descr">
                {% if command.icon %}
                <img class='icons' src="{{command.icon.url}}"/>
                {% endif %}
                {{command.short_name}}
            </div>
        </div>
        {% endfor %}
    </div>


<!--    <p style=" text-align:center;">карта сочетаний клавиш (keybindings map)</p>-->
    <!--        <div id="keybordGrid" class="keybordGrid"></div>-->
    <div id="keyboardGrid" class="keyboardGrid">

        {% for key, modifiers in keyboard_keys_dict.items %}
        {% if modifiers.front_name != '' %}
        <div class="key_{{ key }} char">
            <div class="key brdr"> {{ modifiers.front_name }}</div>
            <div class="a_mod brdr abbr">a</div>
            <div class="c_mod brdr abbr">c</div>
            <div class="s_mod brdr abbr">s</div>
            <div class="ac_mod brdr abbr">ca</div>
            <div class="as_mod brdr abbr">as</div>
            <div class="cs_mod brdr abbr">cs</div>
            <div class="acs_mod brdr abbr">cas</div>

            <div class="Simple-push brdr droppable">{{ modifiers.push }}</div>
            <div class="a brdr droppable">{{ modifiers.a }}</div>
            <div class="c brdr droppable">{{ modifiers.c }}</div>
            <div class="s brdr droppable">{{ modifiers.s }}</div>
            <div class="ac brdr droppable">{{ modifiers.ac }}</div>
            <div class="as brdr droppable">{{ modifiers.as }}</div>
            <div class="cs brdr droppable">{{ modifiers.cs }}</div>
            <div class="acs brdr droppable">{{ modifiers.acs }}</div>

        </div>
        {% else %}
        <div class="key_{{ key }} char"></div>
        {% endif %}
        {% endfor %}

</div>

{% endblock content %}

