<!--par0="subtableSheme" par1="Cell" par2="schemeSwitchCell-->

        <div class="{{ par0 }}">
            <div class="key     {{ par1 }}">key</div>
            <div class="a_mod   {{ par1 }}">+Alt</div>
            <div class="c_mod   {{ par1 }}">+Ctrl</div>
            <div class="s_mod   {{ par1 }}">+Shift</div>
            <div class="ac_mod  {{ par1 }}">+Ctrl+Alt</div>
            <div class="as_mod  {{ par1 }}">+Alt+Shift</div>
            <div class="cs_mod  {{ par1 }}">+Ctrl+Shift</div>
            <div class="acs_mod {{ par1 }}">+Ctrl+Alt+Shift</div>

            <div class="Simple-push {{ par1 }} {{ par2 }} "></div>
            <div class="a {{ par1 }}"></div>
            <div class="c {{ par1 }}"></div>
            <div class="s {{ par1 }} {{ par2 }}"></div>
            <div class="ac {{ par1 }} {{ par2 }}"></div>
            <div class="as {{ par1 }} {{ par2 }}"></div>
            <div class="cs {{ par1 }} {{ par2 }}"></div>
            <div class="acs {{ par1 }} {{ par2 }}"></div>
        </div>

