html {
    height: 100%;
    padding: 0px;
}

body {
    margin: 5px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 10px;
    color: #333;
    background-color: #fff;
    height: 100%;
}

.mainPage {
    height: 100%;
}

.content {
    grid-area: content
}


/* ############################################################################*/
header {
    display: grid;
    grid-area: header;
    grid-template-columns: min-content max-content auto auto max-content;
    grid-template-rows: 1fr;
    gap: 25px;
    grid-auto-flow: row;
    grid-template-areas: "logo  menu . . .";

    padding: 10px;
}

.header__item {
    color: #A65400;
    transform: skew(-8deg);
    /*border: 1px solid #44d450;*/
    border-radius: 5px;
    padding: 3px;
    background-color: #efffed;
    -webkit-box-shadow: 11px 10px 11px -4px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 11px 10px 11px -4px rgba(0, 0, 0, 0.18);
    box-shadow: 11px 10px 11px -4px rgba(0, 0, 0, 0.18);
}


/* ############################################################################*/


.logo {
    grid-area: logo;
    margin-left: auto;
    margin-right: auto;
}

.logo__item,
.logo__item_link {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 12px;
    color: #A65400;
    text-decoration: none;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .25)
}

.logo__img {
    width: 70px;
}


/* ############################################################################*/


.mainMenu {
    grid-area: menu;
    list-style: none;
    margin: 0;
    padding: 0;
    color: #fdc073;
    font-size: 12px;

}

.mainMenu li a {
    color: #A65400;
    text-decoration: none;
}

.mainMenu li a:hover {
    color: #FDA83D;
}

/* ############################################################################*/


.progList__progIcon {
    height: 20px;
}

.progList__progIcon:hover {
    transform: scale(1.5);
}

.progList__progIcon_selected {
    height: 20px;
    border: 3px solid #14A421;
    border-radius: 3px;
}

.progList__link {
    color: #f9f9f9;
}

.progList__link:visited {
    color: #f9f9f9;
}


/* ############################################################################*/

.keymaps {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 9px;
}

.keymaps__path {
    line-height: 10px;
    margin: 0px;
    color: #333333;
}


.keymaps__list {
    border-right: 1px solid #e7c8a8;
}


.keymaps__link {
    display: inline-block !important;
    text-decoration: none !important;
    color: #000000;
    border: 1px solid #fdc073 !important;
    border-radius: 5px !important;
    font-size: 9px !important;
    padding: 2px 5px !important;
    transition: all 0.8s ease !important;

    background-color: #eaeaea;
}

.keymaps__link_selected {
    display: inline-block !important;
    text-decoration: none !important;
    color: #000000;
    border: 1px solid #fdc073 !important;
    border-radius: 5px !important;
    font-size: 9px !important;
    padding: 2px 5px !important;
    transition: all 0.8s ease !important;

    background-color: #b3ffdc;
    user-select: none;
}

.keymaps__link:hover {
    text-decoration: none !important;
    background-color: #b3ffdc !important;
    color: #228f34 !important;
    border-color: #fda83d !important;
}

.keymaps__uploadForm * {
    font-size: 9px;
}

.keymaps__uploadForm_label {
    display: inline;
    color: #333
}

.keymaps__uploadForm input {
    color: #555;
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px
}

/* ############################################################################*/

.userGuide {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 5px;
    grid-auto-flow: row;
    text-align: justify;

}

.droppable {
    padding-left: 1px;
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.612) 0%, rgba(175, 255, 179, 0.1671) 50%, rgba(255, 255, 255, 0.525) 100%);
}


/* ############################################################################*/


.actionList {
    height: 100%;
    min-height: 50px;
    box-sizing: border-box;
    border: 1px solid #1c6ea4;
    border-radius: 9px;
    column-width: 85px;
    column-rule: 1px dotted red;
    margin-top: 5px;
    margin-bottom: 5px;
    /* grid-area: actionList;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(7, 1fr);
    gap: 0px 0px;
    grid-auto-flow: column;
    grid-template-areas: ". . . . . ." ". . . . . ." ". . . . . ." ". . . . . ." ". . . . . ." ". . . . . ."; */
}

.actionList__item,
.actionList__repr {
    cursor: grab;
    font-family: "Calibri", serif;;
    /* vertical-align: baseline;
     white-space: nowrap;
    */
    height: 14px;
    white-space: nowrap;
    overflow: hidden;
    color: #323232;
    font-size: 8px;
    text-indent: -2px;

}

.actionList__item:hover,
.actionList__repr:hover {
    transform: scale(1.2);
    overflow: visible;
    position: relative;
    left: 11px;
    width: 150px;
    z-index: 200;
    background-color: #e7e3e3;
    color: #000000;
}

.actionList_actionIcon {
    vertical-align: sub;
    padding: 0%;
    margin: 0%;
    width: 14px;
    height: 14px;
}

.actionList_actionIcon:after {
    content: "хуvdsafdsaй";
    color: darkred;

}


/* ############################################################################*/
.keyboard {
    display: grid;
    grid-template-columns: repeat(17, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 1px;
    /* grid-auto-flow: row; */
}

.keyboard__modLabel {
    font-size: 8px;
    text-align: center;
    border-right: 0.1px solid #5073ff2c;
}

.settingUpModkeys {
    font-size: 10px;
    display: grid;
    grid-template-columns: 70px 30px;
    grid-template-rows: repeat(8, 1fr);
    grid-auto-flow: row;
    grid-template-areas:
    "key        push"
    "a_mod      a"
    "c_mod      c"
    "s_mod      s"
    "ac_mod     ac"
    "as_mod     as"
    "cs_mod     cs"
    "acs_mod    acs";
    border-radius: 5px;
    border: 0.1px solid #5073ff2c;
}

.settingUpModkeys > div {
    border-bottom: 0.01px solid #5073ff2c;
}

.keyboard__button {
    font-size: 9px;
    display: grid;
    grid-template-columns: 15px 1fr;
    grid-template-rows: repeat(8, auto);
    grid-auto-flow: row;
    grid-template-areas:
    "key        push"
    "a_mod      a"
    "c_mod      c"
    "s_mod      s"
    "ac_mod     ac"
    "as_mod     as"
    "cs_mod     cs"
    "acs_mod    acs";
    /* width: 100%;*/
    height: 100%;
    border: 1px solid #1C6EA4;

    border-radius: 5px;
    /* border-radius: 5px; */
    /* box-shadow: 2px 2px 2px 0px rgba(128, 128, 128, 0.288); */
}

.keyboard__button > div {
    border-top: 0.01px solid #5073ff2c;
}

.keyboard__buttonName {
    grid-area: key;
    text-align: center;
    background-color: bisque;
    border-top-left-radius: 5px;
}

.keyboard__push {
    grid-area: push;
    border-top-right-radius: 5px;
}

.keyboard__a_mod {
    grid-area: a_mod;
}

.keyboard__a {
    grid-area: a;
}

.keyboard__c_mod {
    grid-area: c_mod;
}

.keyboard__c {
    grid-area: c;
}

.keyboard__s_mod {
    grid-area: s_mod;
}

.keyboard__s {
    grid-area: s;
}

.keyboard__ac_mod {
    grid-area: ac_mod;
}

.keyboard__ac {
    grid-area: ac;
}

.keyboard__cs_mod {
    grid-area: cs_mod;
}

.keyboard__cs {
    grid-area: cs;
}

.keyboard__as_mod {
    grid-area: as_mod;
}

.keyboard__as {
    grid-area: as;
}

.keyboard__acs_mod {
    grid-area: acs_mod;
    border-bottom-left-radius: 5px;
}

.keyboard__acs {
    grid-area: acs;
    border-bottom-right-radius: 5px;
}

/* ############################################################################*/
.flipswitch {
    margin: 0px;
    position: relative;
    width: 30px;
}

.flipswitch input[type=checkbox] {
    display: none;
}

.flipswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid #999999;
    border-radius: 4px;
}

.flipswitch-inner {
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

.flipswitch-inner:before,
.flipswitch-inner:after {
    float: left;
    width: 50%;
    height: 9px;
    padding: 0;
    line-height: 9px;
    font-size: 8px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}

.flipswitch-inner:before {
    content: "ON";
    padding-left: 5px;
    background-color: #1ED424;
    color: #FFFFFF;
}

.flipswitch-inner:after {
    content: "hide";
    padding-right: 5px;
    background-color: #EBEBEB;
    color: #888888;
    text-align: right;
}

.flipswitch-switch {
    width: 5px;
    margin: 5px;
    background: #FFFFFF;
    border: 1px solid #999999;
    border-radius: 4px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 19px;
    transition: all 0.3s ease-in 0s;
}

.flipswitch-cb:checked + .flipswitch-label .flipswitch-inner {
    margin-left: 0;
}

.flipswitch-cb:checked + .flipswitch-label .flipswitch-switch {
    right: 0;
}

/* ############################################################################*/

/* .mouse_left,
.mouse_middle,
.mouse_right {
    display: none;
} */
form {
    width: 300px;
}

form button,
form input {
    width: 100%;
    box-sizing: border-box;
}


fieldset {
    border: 1px solid #efffed;
}

#filedrag {
    border-radius: 7px 7px 7px 7px;
    border: 2px dashed #3DA8BA;
    color: #555555;
    display: none;
    cursor: default;
    height: 100%;
    /*margin: 1px;
    padding: 1em 0pt;*/
    text-align: center;
    background: #f9f9f9;
}

#filedrag.hover {
    border-style: solid;
    box-shadow: 0pt 3px 4px #dbdbdb inset;
}

#messages {
    margin-top: 1px;
    padding: 1px;
    font-size: 9px;
}

#messages p {
    border-bottom: 1px solid #efefef;
    margin-bottom: 2px;
}

#submitButton {
    display: block;
}

.button_download_keymap {
    display: inline-block !important;
    text-decoration: none !important;
    background-color: #eaeaea !important;
    color: #006089 !important;
    border: 3px solid #006089 !important;
    border-radius: 5px !important;
    font-size: 12px !important;
    padding: 15px 50px !important;
    transition: all 0.8s ease !important;
    user-select: none !important;
}

.button_download_keymap:hover {
    text-decoration: none !important;
    background-color: #006089 !important;
    color: #ffeded !important;
    border-color: #006089 !important;
    user-select: none !important;
}